.vsconfig
Library
.collabignore
.vs
FlappyBird.sln
Assembly-CSharp.csproj
Logs/
Packages
ProjectSettings
Temp
UserSettings
obj
Build
LootLockerExamples.csproj
Unisave.Editor.csproj
Unisave.Testing.csproj
Unisave.csproj